PORT=

DATABASE_URL=

KEYCLOAK_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\\n-----END PUBLIC KEY-----"
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_URL=

# docker-compose.yml (postgres + keycloak)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
